p,
a,
h1,
h2,
h3,
h4,
h5,
h6,
span,
button,
body,
ul,
li {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;

}

input:focus,
select:focus {
  outline: none;
}

html {
  scroll-behavior: smooth;
}

:root {
  --background-white: #030712;
  --background-grey: #111827;
  --color-title: #F9FAFB;
  --color-text: #D1D5DB;
  --divider: #1F2937;
  --button: #F9FAFB;
  --button-color: #111827;
  --title-bg: #374151;
  --title-color: #D1D5DB;
  --work-bg: #374151;
  --work-cont: #1F2937;
  --work-border: #1F2937;
  --picture-bg: #374151;
  --shadow-first: rgba(0, 0, 0, 0.06);
  --shadow-second: rgba(0, 0, 0, 0.07);
}

[data-theme="light"] {
  --background-white: #fff;
  --background-grey: #F9FAFB;
  --color-title: #111827;
  --color-text: #4B5563;
  --divider: #F3F4F6;
  --button: #111827;
  --button-color: #F9FAFB;
  --title-bg: #e5e7eb;
  --title-color: #4b5563;
  --work-bg: #F9FAFB;
  --work-cont: #fff;
  --work-border: #F3F4F6;
  --picture-bg: #e5e7eb;
  --shadow-first: rgba(0, 0, 0, 0.15);
  --shadow-second: rgba(0, 0, 0, 0.07);
}

* {
  transition: 1s all ease;
}

.body {
  position: relative;
}

.up {
  position: fixed;
  right: 0px;
  cursor: pointer;
  width: 50px;
  z-index: 200;
  bottom: 0px;
}

.opacity-100 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}